<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge">

  <title>Jhon F. Berrio CV</title>

  <!-- Compiled and minified CSS -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
  <link
    rel="stylesheet"
    href="style.css">
</head>
<body>
  <div
    id="app"
    class="w-full max-w-screen-xl">
    <header class="relative p-10">
      <h1
        class="text-8xl font-semibold text-center mb-4"
        style="font-family: 'Lobster Two', cursive;">
        <span class="border-b-2 border-gray-800 pb-8 inline-block">
          Jhon F. Berrio
        </span>
      </h1>

      <p class="text-center uppercase">
        Senior Frontend Developer
      </p>

      <div class="flex mt-4 gap-36">
        <figure class="w-72 h-72 flex-none rounded-full p-8 border border-gray-800">
          <img
            src="./meSmall.png"
            width="172"
            class="rounded-full w-full h-full object-cover">
        </figure>

        <div>
          <h2 class="text-4xl mb-4 mt-14 uppercase">
            Sobre mi
          </h2>

          <p class="">
            {{ cv.profile }}
          </p>
        </div>
      </div>
    </header>

    <main class="grid grid-cols-6 py-10 px-10 gap-10">
      <hr class="col-span-6 border-t border-gray-800">
      <aside class="col-span-2 pr-10 border-r border-gray-800">
        <section>
          <h2 class="text-4xl mb-4 mt-14 uppercase">
            Contacto
          </h2>

          <ul class="flex flex-col gap-2">
            <li
              v-for="(info, index) in cv.information"
              :key="`info-${index}`"
              class="flex items-center gap-2">
              <span class="bg-yellow-500 flex items-center justify-center p-2">
                <i class="material-icons left">{{ info.icon }}</i>
              </span>

              <div>
                <span class="font-semibold">
                  {{ info.kind }}
                </span>
                <br>
                {{ info.value }}
              </div>
            </li>
          </ul>
        </section>

        <section class="mt-14">
          <h2 class="text-4xl mb-4 mt-14 uppercase">
            Estudios
          </h2>

          <div
            v-for="study in cv.academy"
            class="mt-4">
            <p class="text-xl">
              {{ study.time }}
            </p>

            <p>
              <span class="font-semibold">{{ study.title }}</span>
            </p>

            <p class="text-xl text-gray-600">
              {{ study.college }}
            </p>
          </div>
        </section>

        <section class="mt-14">
          <h2 class="text-4xl mb-4 mt-14 uppercase mt-14">
            Habilidades
          </h2>

          <ul>
            <li
              v-for="(skill, index) in cv.skills"
              :key="`skill-${index}`"
              class="flex justify-between">
              <span>{{ skill.name }}</span>

              <span class="blue darken-2 bars">
                <i class="material-icons extra-tiny" v-for="n in skill.level">grain</i>
              </span>
            </li>
          </ul>
        </section>
      </aside>

      <div class="col-span-4 py-12">
        <section>
          <h2 class="text-3xl font-semibold flex items-center gap-4 ">
            <span class="bg-yellow-500 flex items-center justify-center p-2">
              <i class="material-icons left">work</i>
            </span>
            Experiencia laboral
          </h2>

          <div
            v-for="(job, index) in cv.experience.slice(0, 4)"
            :key="`job-${index}`"
            class="mt-4">
            <p class="without-bottom-margin without-top-margin">
              <span class="font-semibold">{{ job.appointment }}</span> <span class="text-2xl">en {{ job.company }}</span>
            </p>

            <div class="">
              {{ job.functions }}
            </div>

            <div class="text-xl text-slate-800">
              {{ job.time }}<br>
            </div>
          </div>
        </section>

        <section class="mt-14">
          <h2 class="text-3xl font-semibold flex items-center gap-4 ">
            <span class="bg-yellow-500 flex items-center justify-center p-2">
              <i class="material-icons left">group</i>
            </span>
            Referencias
          </h2>

          <div
            v-for="(reference, index) in cv.references.personal"
            :key="`reference-${index}`"
            class="mt-4">
            <p class="font-semibold">
              {{ reference.name }}
            </p>

            <p class="text-xl">
              {{ reference.job }} en {{ reference.company }}
            </p>

            <p class="flex items-center gap-2">
              <span class="border-r-2 border-yellow-500 flex items-center justify-center p-2">
                <i class="material-icons left">phone</i>
              </span>
              {{ reference.phone }}
            </p>
          </div>
        </section>

        <section class="mt-14">
          <h2 class="text-3xl font-semibold flex items-center gap-4 ">
            <span class="bg-yellow-500 flex items-center justify-center p-2">
              <i class="material-icons left">loyalty</i>
            </span>
            Intereses
          </h2>

          <p>
            <span
              v-for="(interest, index) in cv.interests"
              :key="`interes-${index}`">
              {{ (index!=0)? ' - ':'' }}{{ interest }}
            </span>
          </p>
        </section>
      </div>
    </main>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="vue-app.js" charset="utf-8"></script>
</body>
</html>
