<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>CV Jhon F. Berrio</title>

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">


</head>
<body>
  <header class="brown">
    <div class="container">
      <div class="row without-bottom-margin">
        <div class="valign-wrapper">
          <img src="https://bulma.io/images/placeholders/256x256.png" class="responsive-img circle">
          <div class="brown darken-1 white-text">
            <h4>Jhon Fredy</h2>
            <h5>Berrio Marin</h3>
            <span>FullStack Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="app">
    <div class="row flex-display">
      <div class="col l3 brown full-height-3">
        <div class="container">
          <div class="row white-text">
            <ul>
              <li v-for="info in cv.information">
                <p>
                  <i class="material-icons left">{{info.icon}}</i>{{info.value}}
                </p>
              </li>
            </ul>
          </div>
          <div class="row white-text">
            <h5 class="thin darken-1">
              Skills
            </h5>
            <ul>
              <li v-for="skill in cv.skills" >
                <span>{{skill.name}}</span>
                <span class="right" v-for="n in skill.level"><i class="material-icons tiny">grain</i></span>
              </li>
            </ul>
          </div>
          <div class="row">

          </div>
        </div>
      </div>

      <div class="col l8 full-height-10">
        <div class="section">
          <h5 class="thin">Perfíl Profesional</h5>
          <p class="justify without-bottom-margin without-top-margin">
            {{cv.profile}}
          </p>
        </div>

        <div class="divide"></div>
        <div class="section">
          <h5 class="thin">Estudios</h5>
          <div class="col s12 l6" v-for="study in cv.academy">
            <p><b>{{study.title}}</b></p>
            <div class="col s6 l4">{{study.time}}</div>
            <div class="col s6 l8">{{study.college}}</div>
          </div>
        </div>

        <div class="divide"></div>
        <div class="section">
          <h5 class="thin">Experiencia laboral</h5>
          <div class="col s12" v-for="job in cv.experience">
            <div class="col s12">
              <p><b>{{job.company}}: {{job.appointment}}</b></p>
            </div>
            <div class="col s6 l4">
              {{job.time}}
              <span>{{job.phone}}</span>
            </div>
            <div class="col s6 l8">{{job.functions}}</div>
          </div>
        </div>

        <div class="divide"></div>
        <div class="section">
          <h5 class="thin">Referencias </h5>
          <div class="col s12 l6" v-for="reference in cv.references.family">
            <p class="without-bottom-margin without-top-margin"><b>{{reference.name}}</b></p>
            <div class="col s12">{{reference.job}} en {{reference.company}}</div>
            <div class="col s12"><i class="material-icons left tiny">phone</i>{{reference.phone}}</div>
          </div>
          <div class="col s12 l6" v-for="reference in cv.references.personal">
            <p class="without-bottom-margin without-top-margin"><b>{{reference.name}}</b></p>
            <div class="col s12">{{reference.job}} en {{reference.company}}</div>
            <div class="col s12"><i class="material-icons left tiny">phone</i>{{reference.phone}}</div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue-app.js" charset="utf-8"></script>
</body>
</html>
