<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Jhon F. Berrio CV</title>

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">


</head>
<body>
  <header class="blue darken-1" style="z-index: 100">
    <br>
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s4">
          <img src="./index.png" width="160px" class="border-radius shadow-right responsive-img right">
        </div>
        <div class="col s8 white-text add-left-margin">
          <h4 class="without-bottom-margin without-top-margin light" style="position: relative; top: 15px;">Jhon Fredy</h2>
          <h4 class="without-bottom-margin without-top-margin semi-bold">Berrio Marin</h4>
          <p class="without-bottom-margin without-top-margin grey-text" style="position: relative; top: -5px;">FullStack Web Developer</p>
        </div>
      </div>
    </div>
  </header>
  <main id="app">
    <div class="row flex-display">
      <div class="col l3 blue darken-2 full-height-3 border-right ">
        <div class="container">
          <div class="row white-text">
            <h5 class="border-bottom shadow-bottom">Contacto</h5>
            <ul>
              <li v-for="info in cv.information">
                <p>
                  <i class="material-icons left">{{info.icon}}</i>{{info.value}}
                </p>
              </li>
            </ul>
          </div>
          <div class="row white-text">
            <h5 class="border-bottom">Perfíl Profesional</h5>
            <p class="justify without-top-margin">
              {{cv.profile}}
            </p>
          </div>
          <div class="row white-text">
            <h5 class="border-bottom">Habilidades</h5>
            <ul>
              <li v-for="skill in cv.skills" >
                <div class="col s6">
                  <span>{{skill.name}}</span>
                </div>
                <div class="col s6 blue darken-2">
                  <span class="right" v-for="n in skill.level">
                    <i class="material-icons extra-tiny">grain</i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col l8 full-height-10">

        <div class="section">
          <h5 class="border-bottom blue-text text-darken-4">
            <i class="material-icons left">school</i>Estudios
          </h5>
          <div class="col s12 l6" v-for="study in cv.academy">
            <p class="without-bottom-margin without-top-margin"><b>{{study.title}}</b></p>
            <div class="col s6 l4">{{study.time}}</div>
            <div class="col s6 l8">{{study.college}}</div>
          </div>
        </div>

        <div class="section">
          <h5 class="border-bottom blue-text text-darken-4">
            <i class="material-icons left">work</i>Experiencia laboral
          </h5>
          <div class="col s12" v-for="(job, index) in cv.experience">
            <div class="col s12">
              <p class="without-bottom-margin without-top-margin"><b>{{job.company}}: {{job.appointment}}</b></p>
            </div>
            <div class="col s3 l2" v-show="index <= 2">
              {{job.time}}<br>
              <span><i class="material-icons left tiny">phone</i>{{job.phone}}</span>
            </div>
            <div class="col s9 l10" v-show="index <= 2">{{job.functions}}</div>
          </div>
        </div>

        <div class="section">
          <h5 class="border-bottom blue-text text-darken-4">
            <i class="material-icons left">group</i>Referencias
          </h5>
          <div class="col s6" v-for="reference in cv.references.family">
            <p class="without-bottom-margin without-top-margin"><b>{{reference.name}}</b></p>
            <div class="col s12">{{reference.job}} en {{reference.company}}</div>
            <div class="col s12">
              <i class="material-icons left tiny">phone</i>{{reference.phone}}
            </div>
          </div>
          <div class="col s6" v-for="reference in cv.references.personal">
            <p class="without-bottom-margin without-top-margin"><b>{{reference.name}}</b></p>
            <div class="col s12">{{reference.job}} en {{reference.company}}</div>
            <div class="col s12">
              <i class="material-icons left tiny">phone</i>{{reference.phone}}
            </div>
          </div>
        </div>

        <div class="section">
          <h5 class="border-bottom blue-text text-darken-4">
            <i class="material-icons left">loyalty</i>Intereses
          </h5>
          <p><span v-for="(interest, index) in cv.interests">{{(index!=0)? ' - ':''}}{{interest}}</span></p>
        </div>
      </div>
    </div>
  </main>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue-app.js" charset="utf-8"></script>
</body>
</html>
