body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Rajdhani', sans-serif;
}

main {
  flex: 1 0 auto;
}

header{
  overflow: hidden;
  position: relative;
  height: 150px;
}

header>img{
  position: absolute;
  top: -60%;
  left: -5%;
  width: 110%;
  height: auto;
  z-index: -1
}

.left-panel-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111d25+0,131e4f+100 */
  background: #111d25; /* Old browsers */
  background: -moz-linear-gradient(top, #111d25 0%, #131e4f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #111d25 0%,#131e4f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #111d25 0%,#131e4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111d25', endColorstr='#131e4f',GradientType=0 ); /* IE6-9 */
}
.light{font-weight: 300 !important}
.regular{font-weight: 400 !important}
.medium{font-weight: 500 !important}
.semi-bold{font-weight: 600 !important}
.bold{font-weight: 700 !important}
h5{font-weight: 700 !important}

.without-margins{margin: 0 !important}
.without-bottom-margin{margin-bottom: 0 !important}
.without-top-margin{margin-top: 0 !important}
.justify{text-align: justify;}
.flex-display{display: flex;}
.full-height-3{flex: 3;}
.full-height-10{flex: 10;}
.add-left-margin{margin-left: 50px}
.extra-tiny{font-size: 0.8rem}
.border-right{
  border-right: 2px dashed rgba(255, 255, 255, 0.95);
}
.border-bottom{
  border-bottom-color: rgb(34, 152, 148);
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}

.shadow-right{box-shadow: 15px 0px 10px -15px #2e2e2e;}
.shadow-bottom{box-shadow: 0px 15px 10px -15px #2e2e2e;}
.border-radius{
  border-radius: 25px
}

.bars {
  width: 100%;
  display: inline-flex;
  border: 1px solid rgb(31, 153, 149);
  border-radius: 3px
}
