@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: 'Rajdhani', sans-serif;
}

main {
  flex: 1 0 auto;
}
