---
import i18next, { t } from "i18next"
import { HeadHrefLangs, Trans } from "astro-i18next/components"

import AppExperience from '@/components/AppExperience.astro';
import AppReferences from '@/components/AppReferences.astro';
import AppInterests from '@/components/AppInterests.astro';
import AppSkills from '@/components/AppSkills.astro';
import AppStudy from '@/components/AppStudy.astro';
import AppContact from '@/components/AppContact.astro';

import '@/styles/main.css'
---
<!DOCTYPE html>
<html lang={i18next.language}>
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge">
  <HeadHrefLangs />

  <title>{t('name')} CV</title>

  <!-- Compiled and minified CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  <div
    id="app"
    class="w-full max-w-screen-lg mx-auto border">
    <header class="relative p-10">
      <h1
        class="text-8xl font-semibold text-center mb-4 relative"
        style="font-family: 'Lobster Two', cursive;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
          class="absolute bottom-0 mb-1 left-1/2 w-40 -translate-x-1/2">
          <path class="fill-yellow-500" fill-opacity="0.9" d="M0,256L7.7,234.7C15.5,213,31,171,46,176C61.9,181,77,235,93,240C108.4,245,124,203,139,170.7C154.8,139,170,117,186,117.3C201.3,117,217,139,232,176C247.7,213,263,267,279,288C294.2,309,310,299,325,293.3C340.6,288,356,288,372,261.3C387.1,235,403,181,418,133.3C433.5,85,449,43,465,37.3C480,32,495,64,511,112C526.5,160,542,224,557,229.3C572.9,235,588,181,604,181.3C619.4,181,635,235,650,256C665.8,277,681,267,697,218.7C712.3,171,728,85,743,85.3C758.7,85,774,171,790,197.3C805.2,224,821,192,836,170.7C851.6,149,867,139,883,160C898.1,181,914,235,929,229.3C944.5,224,960,160,975,154.7C991,149,1006,203,1022,202.7C1037.4,203,1053,149,1068,149.3C1083.9,149,1099,203,1115,197.3C1130.3,192,1146,128,1161,96C1176.8,64,1192,64,1208,58.7C1223.2,53,1239,43,1254,74.7C1269.7,107,1285,181,1301,224C1316.1,267,1332,277,1347,245.3C1362.6,213,1378,139,1394,133.3C1409,128,1425,192,1432,224L1440,256L1440,320L1432.3,320C1424.5,320,1409,320,1394,320C1378.1,320,1363,320,1347,320C1331.6,320,1316,320,1301,320C1285.2,320,1270,320,1254,320C1238.7,320,1223,320,1208,320C1192.3,320,1177,320,1161,320C1145.8,320,1130,320,1115,320C1099.4,320,1084,320,1068,320C1052.9,320,1037,320,1022,320C1006.5,320,991,320,975,320C960,320,945,320,929,320C913.5,320,898,320,883,320C867.1,320,852,320,836,320C820.6,320,805,320,790,320C774.2,320,759,320,743,320C727.7,320,712,320,697,320C681.3,320,666,320,650,320C634.8,320,619,320,604,320C588.4,320,573,320,557,320C541.9,320,526,320,511,320C495.5,320,480,320,465,320C449,320,434,320,418,320C402.6,320,387,320,372,320C356.1,320,341,320,325,320C309.7,320,294,320,279,320C263.2,320,248,320,232,320C216.8,320,201,320,186,320C170.3,320,155,320,139,320C123.9,320,108,320,93,320C77.4,320,62,320,46,320C31,320,15,320,8,320L0,320Z"></path>
        </svg>
        <span class="border-b-2 border-gray-800 pb-8 inline-block relative">
          {t('name')}
        </span>
      </h1>

      <p class="text-center uppercase">
        {t('current_role')}
      </p>

      <div class="flex mt-4 gap-36">
        <figure class="portrait w-72 h-72 flex-none rounded-full p-8 border relative">
          <span class="portrait__overlay absolute left-0 top-0 w-full h-full block bg-yellow-500 border-gray-800" />
          <img
            src="./meSmall.png"
            width="172"
            class="portrait__img rounded-full w-full h-full object-cover relative">
        </figure>

        <div>
          <h2 class="text-4xl mb-4 mt-14 uppercase">
            {t('about_me_title')}
          </h2>

          <p class="">
            {t('profile')}
          </p>
        </div>
      </div>
    </header>

    <main class="grid grid-cols-6 py-10 px-10 gap-10">
      <hr class="col-span-6 border-t border-gray-800">
      <aside class="col-span-2 px-10 border-r border-gray-800 bg-gray-200">
        <AppContact />

        <AppStudy />

        <AppSkills />
      </aside>

      <div class="col-span-4 py-12">
        <AppExperience />

        <AppReferences />

        <AppInterests />
      </div>
    </main>
  </div>
</body>
</html>

<script>
  const constrain = 100
  const figure = document.querySelector('.portrait')

  function transforms(x, y, el) {
    let box = el.getBoundingClientRect()
    let calcX = -(y - box.y - (box.height / 2)) / constrain
    let calcY = (x - box.x - (box.width / 2)) / constrain

    return "perspective(100px) "
      + "   rotateX("+ calcX +"deg) "
      + "   rotateY("+ calcY +"deg) "
  }

  function transformElement(el, xyEl) {
    el.style.transform  = transforms.apply(null, xyEl)
  }

  document.addEventListener('mousemove', function(e) {
    const xy = [e.clientX, e.clientY];
    const position = xy.concat([figure])

    window.requestAnimationFrame(function(){
      transformElement(figure, position)
    })
  })
</script>

<style>
  .portrait {
    &__overlay {
      @apply shadow-lg;

      animation-name: border-radius-overlay;
      /* animation-name: path-overlay; */
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes border-radius-overlay {
    0% {
      border-radius: 88% 12% 79% 21% / 14% 80% 20% 86%;
    }

    25% {
      border-radius: 17% 83% 9% 91% / 87% 13% 87% 13%;
    }

    50% {
      border-radius: 31% 69% 19% 81% / 76% 25% 75% 24%;
    }

    75% {
      border-radius: 46% 54% 32% 68% / 56% 45% 55% 44%;
    }

    100% {
      border-radius: 73% 27% 61% 39% / 31% 72% 28% 69%;
    }
  }
  @keyframes path-overlay {
    0% {
      clip-path: path('M22.9,-34.5C29.3,-31.5,33.9,-24.5,35,-17.4C36.1,-10.2,33.8,-2.8,32.2,4.2C30.5,11.3,29.6,18,26,23.1C22.5,28.2,16.4,31.6,9.8,33.6C3.2,35.6,-3.8,36.2,-11.6,35.7C-19.5,35.2,-28.1,33.5,-33.8,28.5C-39.5,23.4,-42.1,14.9,-41.4,7.1C-40.7,-0.6,-36.5,-7.7,-33.3,-15.4C-30.2,-23.2,-27.9,-31.6,-22.5,-35.1C-17.1,-38.5,-8.6,-37.1,-0.2,-36.8C8.2,-36.6,16.5,-37.5,22.9,-34.5Z');
    }

    25% {
      clip-path: path('M41.3,-63.1C55,-55.4,68.8,-46.5,75.2,-33.9C81.5,-21.3,80.5,-4.9,78.6,11.6C76.7,28.2,73.9,44.9,64.3,55.3C54.7,65.8,38.2,70,21.9,75.1C5.5,80.2,-10.8,86.3,-26.2,84.1C-41.7,82,-56.2,71.7,-65.4,58.2C-74.5,44.8,-78.2,28.3,-77.8,12.8C-77.5,-2.6,-73.1,-17,-67.7,-31.7C-62.2,-46.4,-55.7,-61.5,-44.2,-70.3C-32.8,-79.1,-16.4,-81.6,-1.3,-79.6C13.8,-77.5,27.5,-70.9,41.3,-63.1Z');
    }

    50% {
      clip-path: path('M44.5,-68.9C57.3,-61.1,67,-48,71.8,-33.9C76.7,-19.7,76.6,-4.3,76.4,12.3C76.1,29,75.6,47,67,59.4C58.4,71.9,41.8,78.7,25.4,81C9,83.4,-7.1,81.2,-21.3,75.6C-35.4,70,-47.7,61,-59.5,50.1C-71.3,39.1,-82.6,26.3,-84.6,12.2C-86.6,-1.9,-79.2,-17.4,-71.5,-32.1C-63.9,-46.7,-55.9,-60.6,-43.9,-68.8C-31.9,-77,-16,-79.4,0,-79.3C15.9,-79.2,31.7,-76.6,44.5,-68.9Z');
    }

    75% {
      clip-path: path('M42,-62.5C56.8,-55.9,72.6,-48.2,80.5,-35.5C88.3,-22.7,88.1,-5,84.3,11.2C80.6,27.4,73.2,42.2,63.1,55.5C52.9,68.9,40.1,80.7,24.6,86.3C9.2,92,-8.7,91.4,-23.8,85.2C-38.9,78.9,-51.2,66.9,-61,53.8C-70.7,40.7,-78,26.5,-80.1,11.6C-82.2,-3.4,-79.1,-19,-71.8,-31.8C-64.5,-44.6,-53,-54.6,-40.3,-62C-27.6,-69.5,-13.8,-74.5,-0.1,-74.3C13.6,-74.2,27.3,-69,42,-62.5Z');
    }

    100% {
      clip-path: path('M49,-76.2C63.3,-67.2,74.3,-53.1,78.5,-37.7C82.6,-22.3,80,-5.6,78.2,11.7C76.4,29,75.6,46.9,67.1,60.1C58.6,73.2,42.6,81.7,26.5,83.2C10.5,84.6,-5.5,79,-21.2,73.7C-36.9,68.4,-52.2,63.5,-61.1,53C-70,42.6,-72.6,26.7,-75.2,10.6C-77.8,-5.5,-80.5,-21.7,-76.7,-37.1C-72.9,-52.5,-62.6,-67,-48.8,-76.2C-34.9,-85.3,-17.5,-89.1,0,-89C17.4,-89,34.8,-85.1,49,-76.2Z');
    }
  }
</style>
