---
import i18next, { t } from "i18next"
import { HeadHrefLangs, LanguageSelector, Trans } from "astro-i18next/components"

import AppExperience from '@/components/AppExperience.astro'
import AppReferences from '@/components/AppReferences.astro'
import AppInterests from '@/components/AppInterests.astro'
import AppSkills from '@/components/AppSkills.astro'
import AppStudy from '@/components/AppStudy.astro'
import AppContact from '@/components/AppContact.astro'

import '@/styles/main.css'
---
<!DOCTYPE html>
<html lang={i18next.language}>
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge">
  <HeadHrefLangs />

  <title>{t('name')} CV</title>

  <!-- Compiled and minified CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  <div
    id="app"
    class="w-full max-w-screen-lg mx-auto border px-8">
    <header class="relative md:pr-10 py-10 grid md:grid-cols-6 gap-10">
      <div class="flex items-center md:col-span-2 justify-center">
        <figure class="portrait w-72 h-72 flex-none rounded-full p-6 border relative">
          <span class="portrait__overlay absolute left-0 top-0 w-full h-full block bg-yellow-500 border-gray-800" />
          <img
            src="./profile.jpg"
            width="172"
            alt="Foto de Jhon"
            class="portrait__img rounded-full w-full h-full object-cover relative">
        </figure>
      </div>

      <div class="md:col-span-4">
        <h1
          class="text-8xl font-semibold text-center mb-4 relative"
          style="font-family: 'Lobster Two', cursive;">
          <span class="border-b-2 border-gray-800 pb-8 inline-block relative">
            {t('name')}
          </span>
        </h1>

        <p class="text-center uppercase">
          {t('current_role')}
        </p>

        <div class="flex mt-4 gap-36">


          <div>
            <h2 class="text-4xl mb-4 mt-14 uppercase">
              {t('titles.about_me')}
            </h2>

            <p class="">
              {t('profile')}
            </p>
          </div>
        </div>
      </div>
    </header>

    <main class="grid md:grid-cols-6 md:pr-10 gap-10">
      <aside class="md:col-span-2 px-10 md:border-r-2 border-gray-400 bg-gray-200">
        <AppContact />

        <AppStudy />

        <AppSkills />
      </aside>

      <div class="md:col-span-4 py-12">
        <AppExperience />

        <AppReferences />

        <AppInterests />
      </div>
    </main>
  </div>
</body>
</html>

<script>
  const constrain = 100
  const figure = document.querySelector('.portrait')

  function transforms(x, y, el) {
    let box = el.getBoundingClientRect()
    let calcX = -(y - box.y - (box.height / 2)) / constrain
    let calcY = (x - box.x - (box.width / 2)) / constrain

    return "perspective(100px) "
      + "   rotateX("+ calcX +"deg) "
      + "   rotateY("+ calcY +"deg) "
  }

  function transformElement(el, xyEl) {
    el.style.transform  = transforms.apply(null, xyEl)
  }

  document.addEventListener('mousemove', function(e) {
    const xy = [e.clientX, e.clientY];
    const position = xy.concat([figure])

    window.requestAnimationFrame(function(){
      transformElement(figure, position)
    })
  })
</script>

<style>
  .portrait {
    &__overlay {
      @apply shadow-lg;

      animation-name: border-radius-overlay;
      /* animation-name: path-overlay; */
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes border-radius-overlay {
    0% {
      border-radius: 88% 12% 79% 21% / 14% 80% 20% 86%;
    }

    25% {
      border-radius: 17% 83% 9% 91% / 87% 13% 87% 13%;
    }

    50% {
      border-radius: 31% 69% 19% 81% / 76% 25% 75% 24%;
    }

    75% {
      border-radius: 46% 54% 32% 68% / 56% 45% 55% 44%;
    }

    100% {
      border-radius: 73% 27% 61% 39% / 31% 72% 28% 69%;
    }
  }
  @keyframes path-overlay {
    0% {
      clip-path: path('M22.9,-34.5C29.3,-31.5,33.9,-24.5,35,-17.4C36.1,-10.2,33.8,-2.8,32.2,4.2C30.5,11.3,29.6,18,26,23.1C22.5,28.2,16.4,31.6,9.8,33.6C3.2,35.6,-3.8,36.2,-11.6,35.7C-19.5,35.2,-28.1,33.5,-33.8,28.5C-39.5,23.4,-42.1,14.9,-41.4,7.1C-40.7,-0.6,-36.5,-7.7,-33.3,-15.4C-30.2,-23.2,-27.9,-31.6,-22.5,-35.1C-17.1,-38.5,-8.6,-37.1,-0.2,-36.8C8.2,-36.6,16.5,-37.5,22.9,-34.5Z');
    }

    25% {
      clip-path: path('M41.3,-63.1C55,-55.4,68.8,-46.5,75.2,-33.9C81.5,-21.3,80.5,-4.9,78.6,11.6C76.7,28.2,73.9,44.9,64.3,55.3C54.7,65.8,38.2,70,21.9,75.1C5.5,80.2,-10.8,86.3,-26.2,84.1C-41.7,82,-56.2,71.7,-65.4,58.2C-74.5,44.8,-78.2,28.3,-77.8,12.8C-77.5,-2.6,-73.1,-17,-67.7,-31.7C-62.2,-46.4,-55.7,-61.5,-44.2,-70.3C-32.8,-79.1,-16.4,-81.6,-1.3,-79.6C13.8,-77.5,27.5,-70.9,41.3,-63.1Z');
    }

    50% {
      clip-path: path('M44.5,-68.9C57.3,-61.1,67,-48,71.8,-33.9C76.7,-19.7,76.6,-4.3,76.4,12.3C76.1,29,75.6,47,67,59.4C58.4,71.9,41.8,78.7,25.4,81C9,83.4,-7.1,81.2,-21.3,75.6C-35.4,70,-47.7,61,-59.5,50.1C-71.3,39.1,-82.6,26.3,-84.6,12.2C-86.6,-1.9,-79.2,-17.4,-71.5,-32.1C-63.9,-46.7,-55.9,-60.6,-43.9,-68.8C-31.9,-77,-16,-79.4,0,-79.3C15.9,-79.2,31.7,-76.6,44.5,-68.9Z');
    }

    75% {
      clip-path: path('M42,-62.5C56.8,-55.9,72.6,-48.2,80.5,-35.5C88.3,-22.7,88.1,-5,84.3,11.2C80.6,27.4,73.2,42.2,63.1,55.5C52.9,68.9,40.1,80.7,24.6,86.3C9.2,92,-8.7,91.4,-23.8,85.2C-38.9,78.9,-51.2,66.9,-61,53.8C-70.7,40.7,-78,26.5,-80.1,11.6C-82.2,-3.4,-79.1,-19,-71.8,-31.8C-64.5,-44.6,-53,-54.6,-40.3,-62C-27.6,-69.5,-13.8,-74.5,-0.1,-74.3C13.6,-74.2,27.3,-69,42,-62.5Z');
    }

    100% {
      clip-path: path('M49,-76.2C63.3,-67.2,74.3,-53.1,78.5,-37.7C82.6,-22.3,80,-5.6,78.2,11.7C76.4,29,75.6,46.9,67.1,60.1C58.6,73.2,42.6,81.7,26.5,83.2C10.5,84.6,-5.5,79,-21.2,73.7C-36.9,68.4,-52.2,63.5,-61.1,53C-70,42.6,-72.6,26.7,-75.2,10.6C-77.8,-5.5,-80.5,-21.7,-76.7,-37.1C-72.9,-52.5,-62.6,-67,-48.8,-76.2C-34.9,-85.3,-17.5,-89.1,0,-89C17.4,-89,34.8,-85.1,49,-76.2Z');
    }
  }
</style>
