---
import { t } from "i18next"

interface Info {
  kind: string
  icon: string
  value: string
}

const information: Info[] = t('information', { returnObjects: true })
---
<section>
  <h2 class="text-4xl mb-4 mt-14 uppercase">
    {t('titles.contact')}
  </h2>

  <ul class="flex flex-col gap-2">
    {information.map((info) => (
      <li class="flex items-center gap-2">
        <span class="bg-yellow-500 flex items-center justify-center p-2">
          <i class="material-icons left">{info.icon}</i>
        </span>

        <div>
          <span class="font-semibold">
            {info.kind}
          </span>
          <br>
          <span>
            {info.value}
          </span>
        </div>
      </li>
    ))}
  </ul>
</section>
