---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

interface Info {
  kind: string
  icon: string
  value: string
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
const infoArray = data.information;
---
<section>
  <h2 class="text-4xl mb-4 uppercase">
    {t('titles.contact')}
  </h2>

  <ul class="flex flex-col gap-2">
    {infoArray.map((info) => (
      <li class="flex items-center gap-2">
        <span class="bg-yellow-500 flex items-center rounded-lg justify-center p-2">
          <i class="material-symbols-outlined">{info.icon}</i>
        </span>

        <div>
          <span class="font-semibold">
            {info.kind}
          </span>
          <br>
          <span>
            {info.value}
          </span>
        </div>
      </li>
    ))}
  </ul>
</section>
