---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
const interestsArray = data.interests;
---
<section class="mt-14">
  <h2 class="text-3xl font-semibold flex items-center gap-4 ">
    <span class="bg-yellow-500 flex items-center justify-center rounded-lg p-2">
      <i class="material-symbols-outlined">loyalty</i>
    </span>
    {t('titles.interests')}
  </h2>

  <p>
    {interestsArray.map((interest, index) => (
      <span>
        {(index != 0)? ' - ':''}{interest}
      </span>
    ))}
  </p>
</section>
