---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

interface Skill {
  name: string
  level: number
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
const skillsArray = data.skills;
---
<section class="mt-14">
  <h2 class="text-4xl mb-4 mt-14 uppercase">
    {t('titles.skills')}
  </h2>

  <ul>
    {skillsArray.map((skill) => (
      <li class="flex justify-between">
        <span>{skill.name}</span>

        <span class="flex items-center">
          {Array(skill.level).fill(null).map(() => (
            <i class="material-symbols-outlined">eraser_size_4</i>
          ))}
        </span>
      </li>
    ))}
  </ul>
</section>
