---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { translations } from '@/i18n/translations';

interface Study {
  college: string
  type: string
  title: string
  time: string
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = translations[lang];
const academyArray = data.academy;
---
<section class="mt-14">
  <h2 class="text-4xl mb-4 mt-14 uppercase">
    {t('titles.education')}
  </h2>

  {academyArray.map((study) => (
    <div class="mt-4">
      <p class="text-xl">
        {study.time}
      </p>

      <p>
        <span class="font-semibold">{study.title}</span>
      </p>

      <p class="text-xl text-gray-600">
        {study.college}
      </p>
    </div>
  ))}
</section>
