---
import { getLangFromUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title><slot name="title" /></title>

  <!-- Compiled and minified CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <slot />
</body>
</html>

<style is:global>
  @import '@/styles/main.css';
</style>
